/* ---------background----------- */
body {
    overflow: hidden;
    background-image: url('src/img/baim-pilih.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position:  center 65px;

}

.container-fluid .row{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
/* ---------background END----------- */


/* ---------Skor kamu----------- */
.container:nth-child(2) .row p {
    font-family: 'inter', sans-serif;
    color: black;
    font-size: 20px;
}
.container:nth-child(2) .row h1 {
    font-family: inter, sans-serif;
    margin-top: -26px;
    font-size: 128px;
    color: #5891AD;
}
/* ---------Skor kamu END----------- */





