@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
/* ---------background---------- */
body 
{     
    background: #FF87CB !important;
    overflow: hidden; 
}
.container-fluid {
    /* width: 100%; */
}
.container-fluid .row {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background-size: 380px;
    background-position: center 50px;
    background-repeat: no-repeat;
    background-image: url('/src/img/bp-kumpulan.png');
}

@media (min-width: 400px) {
    .container-fluid .row {
        position: absolute;
        background-position: center 50px;
    }
}
/* ---------background---------- */


/* ---------Skor dan soal---------- */
.container .row .col-5 p:nth-child(2), .col-3 p:nth-child(2){
    margin-top: -20px;
}
.container .row .col-5 p,  .col-3 p{
    font-family:'inter',sans-serif;
    font-weight: 600;
}
/* ---------Skor dan soal END---------- */


/* ---------soal---------- */
.container .row:nth-child(2) .col-12 h3 {
    font-family: 'inter', sans-serif;
    font-weight: 700;
}
/* ---------soal END---------- */


/* ---------jawaban---------- */
.container .row:nth-child(3) {
    margin-top: 50px;
}
.container .row:nth-child(3) .col-11 {
    background-color: #EE1889;
    cursor: pointer;
    /* transition: .2s; */
}
.container .row:nth-child(3) .col-11:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}
.container .row:nth-child(3) .col-11:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.container .row:nth-child(3) input {
    display: none;
}
/* ---------jawaban END---------- */


/* ---------tombol next---------- */
.container .row:nth-child(4) .col-12 button {
    margin-top: 70px;
}
/* ---------tombol next END---------- */
